/* Tags */
html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100;
}

body {
    margin: 0;
}

header {
    background-color: #333333;
    margin: 0;
    vertical-align: middle;
    color: white;
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0;
    margin-bottom: 2%;
} header h1 {
    margin: 0;
}

button {
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 5px;
    border: 1px  solid grey;
    font-weight: bold;
}

label {
    margin-bottom: 1%;;
}

/* Classes */
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.value {
    margin-right: 5%;
}

.flex-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: auto;
}

/* IDs */
#loan-btn {
    background-color: #4bf0a1;
    width: 100%;
    align-self: center;
    
}

#work-btn {
    background-color: #4d70f0;
    color: white;
}

#bank-btn {
    background-color: #edef4c;
}

#pay-btn {
    display: none;
    background-color: orange;
    color: white;
}

#bank-btn, #work-btn, #pay-btn {
    width: 30%;
}

#buy-btn {
    background-color: #4bc9f1;
    width: 90%;
    margin-right: 5%;
}

#loan-row {
    display: none;
}

#img {
    width: 20%;
    margin: 1%;
}

#laptop-details-section {
    background-color: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #ededed;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
    padding: 2%;
}

#features {
    margin-bottom: 0;
}

#laptop-description {
    width: 55%;
    margin-left: 5%;
}

#laptop-buy {
    width: 20%;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#laptop-buy p {
    font-weight: bold;
    font-size: large;
}

#specs {
    font-size: small;
    margin-top: 0;
}